*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Urbanist", serif;
}
a{
    text-decoration: none;
}
ul,ol{
    list-style-type: none;
}
h1,h2,h3,h4,h5,h6,p{
    line-height: 0.8;
}
.container{
    width: 1240px;
    margin: 0 auto;
}

/* ======= Navbar Started Here ======= */
#navbar{
    padding: 23px 0;
    background-color: #FFFFFF33;
    backdrop-filter: blur(2px);
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
}
.nav_wrapper{
display: flex;
align-items: center;
}
.logo{
    width: 20%;
}
.menu{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
}
.menu li a{
    color: #606D93;
    font-weight: 500;
    font-size: 18px;
    line-height: normal;
    text-transform: capitalize;
    transition: all linear 0.3s;
}
.menu li a:hover{
    color: #192252;
    font-weight: 500;
}

.nav_btn{
    width: 20%;
    display: flex;
    justify-content: flex-end;
}
.nav_btn a{
    display: inline-block;
    background-color: #6345D5;
    border-radius: 8px;
    padding: 16px 40px;
    font-size: 18px;
    color: white;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    transition: all linear 0.3s;
}
.nav_btn a:hover{
    background-color: white;
    color: #6345D5;
}

/* ======= Banner Ended Here ======= */

.shape1, .shape2{, .shape3
    position: relative;
}
.shape1 img{
    position: absolute;
    top :0;
    right: 0;
}
.shape2 img{
    position: absolute;
    top :100px;
    right: 0;
}
.shape3 img{
    position: absolute;
    top :14 0px;
    left: 0;
}

.banner_wrapper{
    padding-top: 215px;
    display: flex;
    gap: 54px;
    padding-bottom: 660px;
}
.banner_desc{
    width: 503px;
    position: relative;
    z-index: 999;
}
.banner_desc h1{
    color: #192252;
    font-weight: 700;
    font-size: 80px;
    line-height: 88px;

}
.banner_desc p{
font-weight: 500;
font-size: 18px;
line-height: 27px;
color: #848FAC;
padding: 40px 0;
}
.banner_btn{
    display: flex;
    gap:24px;
}
.banner_btn a:first-child{
    padding: 20px 40px;
    background-color: #6245D5;
    color: white;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.2px;
    display: inline-block;
    transition: all linear 0.3s;
}
.banner_btn a:first-child:hover{
    background-color: white;
    color: #6245D5;
}
.banner_btn a:last-child{
    padding: 20px 40px;
    background-color: white;
    color: #6245D5;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.2px;
    display: inline-block;
    transition: all linear 0.3s;
}
.banner_btn a:last-child:hover{
background-color: #6245D5;
color:white;
}

.banner_img{
    width: 683px;
    position: relative;
    left: 40px;
}
.banner_bigimg_box{
    position:relative;
}
.banner_bigimg{
    width: 100%;
    height: 882px;
    border-radius: 24px;
    background: #D9D9D9;
    position: absolute;
    bottom: -422px;
    z-index: 999;
    overflow: hidden;
}
.banner_bigimg img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* ======= Counter Started Here ======= */
#counter{
    background: #201353;
    padding-top: 522px;
    padding-bottom: 32px;
}
.counter_wrapper{
padding: 48px;
background-color: #FFFFFF14;
border-radius: 24px;
display: flex;
align-items: center;
justify-content: space-between;
}
.counter_item{
   
    display: flex;
    align-items: center;
    gap: 16px;
    justify-content: center;
    position: relative;
}
.counter_item::after{
    position: absolute;
    content: "";
    right: 0;
    top: 50%;
    transform: translate(64px,-50%);
    height: 32px;
    width: 2px;
    background: #FFFFFF14;
}
.counter_item:last-child::after{
    background-color: transparent;
}
.counter_item .count_title{
font-size: 20px;
font-weight: 500;
line-height: 24px;
color: #FFFFFFA3;
}
.counter_item .count_number{
font-size: 48px;
font-weight: 700;
line-height: 57.6px;
color: #FFFFFF;
}
.counter_item:first-child{
    justify-content: start;
}
.counter_item:last-child{
    justify-content: end;
}

/* ======= Counter Ended Here ======= */

/* ======= Feature Started Here ======= */
.feature_main{
    margin-top: 48px;
}
#feature{
    padding: 100px 0;
    background-color: #201353;
    position: relative;
}
.feature_heading{
    display: flex;
    justify-content: space-between;
}
.feature_heading h2{
    color: white;
    max-width: 514px;
    font-size: 52px;
    line-height: normal;
    font-weight: 700;
}
.feature_heading p{
    font-weight: 500;
    font-size: 18px;
    line-height: 21.6px;
    color: #FFFFFFA3;
    max-width: 555px;
    margin-top: 18px;
}
.feature_wrapper{
    margin-top: 48px;
    display: flex;
    gap: 24px;
    flex-direction: column;
}
.feature_img{
    position: absolute;
    bottom: -4px;
    right: 12%;
}
/* ======= Feature Ended Here ======= */
.feature_wrapper .transition{
    width: 368px;
    border-radius: 16px;
    background-color: white;
    padding: 24px;
}
.transition .transition_heading{
    display: flex;
    align-items: center;
    gap: 16px;
}
.transition .transition_heading h4{
color: #192252;
font-weight: 600;
font-size: 18px;
line-height: 27px;
}
.transition > p{
font-weight: 400;
margin-top: 20px;
font-size: 16px;
line-height: 24px;
color: #848FAC;
}
.transition .progress{
    margin-top: 24px;
    background-color: #EFF3FA;
    border-radius: 2px;
    height: 4px;
    position: relative;
    overflow: hidden;
}
.transition .progress::after{
    position: absolute;
    content: "";
    left: 0;
    height: 100%;
    width: 40%;
    background-color: #6245D5;
    top: 0;
    border-radius: 2px;
}
.feature_wrapper .history{
    width: 368px;
    border:1.5px solid #2C1A74;
    border-radius: 16px;
    padding: 24px;
}
.history .history_heading{
display: flex;
gap: 12px;
align-items: center;
}
.history .history_heading h4{
    color: #FFFFFF;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;

}
.skilliton1{
    margin-top: 20px;
    width: 307px;
    height: 16px;
    border-radius: 4px;
    background-color: #FFFFFF4D;

}
.skilliton2{
    margin-top: 10px;
    width: 287px;
    height: 16px;
    border-radius: 4px;
    background-color: #FFFFFF4D;

}
.skilliton3{
    margin-top: 26px;
    width: 320px;
    height: 4px;
    border-radius: 2px;
    background-color: #FFFFFF26;

}
/* ======= video Started Here ======= */
#video{
    height: 100px;
}
/* ======= video Ended Here ======= */

/* ======= Navbar Started Here ======= */

/* ======= Navbar Ended Here ======= */

/* ======= Navbar Started Here ======= */

/* ======= Navbar Ended Here ======= */

/* ======= Navbar Started Here ======= */

/* ======= Navbar Ended Here ======= */

